{% extends "base.html" %} {% block content %}
<article class="title-page">
  <h1 class="title-page-heading">Meditation Course on the Six Senses</h1>
  <p class="title-page-subtitle">
    A comprehensive guide to developing calm and insight through sense
    experience
  </p>
  <div class="title-page-content">
    <!-- <p>
      Welcome to the Meditation Course on the Six Senses. This course will guide
      you through understanding and practicing mindfulness with the six senses.
    </p>
    <p>Through this course, you will learn:</p>
    <ul>
      <li>How to establish mindfulness on the experience of the six senses</li>
      <li>How sense experience gets constructed</li>
      <li>How to recognize pleasant, unpleasant or neutral feeling tones</li>
      <li>How to change habitual unskilful responses into more skilful ones</li>
    </ul>
    <p>
      This course is designed for self-retreat and can be completed at your own
      pace.
    </p> -->
  </div>
</article>
{% endblock %}
