{% extends "base.html" %} {% block content %}
<article class="title-page">
  <h1 class="title-page-heading">Meditation Course on the Six Senses</h1>
  <p class="title-page-subtitle">
    A comprehensive guide to developing calm and insight through sense
    experience
  </p>
  <p>
    The latest version of this course is always available online <a
      href="https://bdhrs.github.io/meditation-course-on-the-six-senses/"
      target="_blank">here</a>.
  </p>
  <div class="title-page-content">

  </div>
</article>
{% endblock %}
